In [2]:
import pandas as pd
from tqdm import tqdm
import re

In [47]:
# TXT_FILE_NAME = "Inception_H565 (2).txt"
# USER_TYPE = "ano1"

# TXT_FILE_NAME = "inception_smc120.txt"
# USER_TYPE = "ano1"

# TXT_FILE_NAME = "KOPS2(3565).txt"
# USER_TYPE = "ano2" # 1~3200
# USER_TYPE = "ano1" # 3201~3565

TXT_FILE_NAME = "KOPS_8564_1(5000).txt"
# USER_TYPE = "ano1" # 1~100, 3301~4999
USER_TYPE = "ano3" # 101~3300

In [48]:
TXT_FILE_ENCODING_TYPE = "cp949" #"utf-8"
SOURCE_FILE_PATH = f"source/{TXT_FILE_NAME}"

ANNOTATION_TSV_FILE_PATH = f"annotation/{TXT_FILE_NAME}/{USER_TYPE}.tsv"

## Read a Source file

In [49]:
# source_file_list = open(SOURCE_FILE_PATH, 'r', encoding=TXT_FILE_ENCODING_TYPE).read().split('\n')

In [50]:
# source_file_list

## Read an Annotated TSV file

### Pre-processing a TSV file

In [51]:
annotation_tsv_file_list = open(ANNOTATION_TSV_FILE_PATH, 'r').read().split('\n')

In [52]:
idx = 1

col_list = ["#Text", "span", "token"]
tag_list = []
while True:
    if annotation_tsv_file_list[idx]=='':
        break
    
    row = annotation_tsv_file_list[idx]
    tag_name = row.split('|')[0].split('.')[-1]
    tag_list.append(tag_name)
    
    # row_attribute = []
    # if (len(row.split('|'))!=2) or (row.split('|')[1]!=''):
        # row_attribute = [tag_name+"_"+attribute for attribute in row.split('|')[1:]]
    row_attribute = [tag_name+"_"+attribute for attribute in row.split('|')[1:]]
    
    for attribute in row_attribute:
        col_list.append(attribute)
    
    idx+=1

In [53]:
print(f"tag_list : {tag_list}")
print(f"col_list : {col_list}")

tag_list : ['Inj_type', 'Int_Mint', 'Int_Noti', 'Int_Obs', 'Int_Px', 'Int_Riskassess', 'Inv_HEAD', 'Inv_PER', 'Inv_PLA', 'Inv_THG', 'PVT_teaching', 'PVT_univeral', 'Risk_Beh', 'Risk_Cog', 'Risk_Env', 'Risk_Mob', 'Risk_Sens', 'Risk_Sleep', 'Risk_Tx', 'Severity', 'Type']
col_list : ['#Text', 'span', 'token', 'Inj_type_TagLinker', 'Int_Mint_TagLinker', 'Int_Noti_TagLinker', 'Int_Obs_', 'Int_Px_TagLinker', 'Int_Riskassess_', 'Inv_HEAD_', 'Inv_PER_TagLinker', 'Inv_PLA_TagLinker', 'Inv_THG_TagLinker', 'PVT_teaching_', 'PVT_univeral_TagLinker', 'Risk_Beh_TagLinker', 'Risk_Cog_TagLinker', 'Risk_Env_TagLinker', 'Risk_Mob_TagLinker', 'Risk_Sens_TagLinker', 'Risk_Sleep_', 'Risk_Tx_TagLinker', 'Severity_TagLinker', 'Type_TagLinker']

In [54]:
annotation_list = annotation_tsv_file_list[idx+1:]
annotation_list[0] = "\t".join(col_list)+"\t"
for _ in tqdm(range(annotation_list.count(''))): # remove empty row
    annotation_list.remove('')

annotation_table = [row.split("\t") for row in annotation_list]

100% 4999/4999 [00:20<00:00, 244.42it/s]

In [55]:
df = pd.DataFrame(annotation_table[1:], columns=annotation_table[0])
df.drop([''], axis=1, inplace=True)
df

,#Text,span,token,Inj_type_TagLinker,Int_Mint_TagLinker,Int_Noti_TagLinker,Int_Obs_,Int_Px_TagLinker,Int_Riskassess_,Inv_HEAD_,...,PVT_univeral_TagLinker,Risk_Beh_TagLinker,Risk_Cog_TagLinker,Risk_Env_TagLinker,Risk_Mob_TagLinker,Risk_Sens_TagLinker,Risk_Sleep_,Risk_Tx_TagLinker,Severity_TagLinker,Type_TagLinker
0,"#Text=""2016.10.2. At around 6:35 PM, while sta...",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,1-1,0-1,"""",_,_,_,_,_,_,_,...,_,_,_,_,_,_,_,_,_,_
2,1-2,1-10,2016.10.2,_,_,_,_,_,_,_,...,_,_,_,_,_,_,_,_,_,_
3,1-3,10-11,.,_,_,_,_,_,_,_,...,_,_,_,_,_,_,_,_,_,_
4,1-4,12-14,At,_,_,_,_,_,_,_,...,_,_,_,_,_,_,_,_,_,_
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455315,4999-43,2124486-2124487,",",_,_,_,_,_,_,_,...,_,_,_,_,_,_,_,_,_,_
455316,4999-44,2124488-2124493,X-ray,_,_,_,_,_,_,_,...,_,_,_,_,_,_,_,_,_,_
455317,4999-45,2124494-2124499,check,_,_,_,_,_,_,_,...,_,_,_,_,_,_,_,_,_,_
455318,4999-46,2124499-2124500,.,_,_,_,_,_,_,_,...,_,_,_,_,_,_,_,_,_,_
455319,4999-47,2124500-2124501,"""",_,_,_,_,_,_,_,...,_,_,_,_,_,_,_,_,_,_

In [56]:
token_pairs_list = []


idx = 0
while idx < len(df):
    if idx%25000==0:
        print(f"{idx} / {len(df)}")
    
    text_num = df["#Text"][idx].split("-")[0]
    is_token_tagless = True

    for tag in col_list[3:]:
        if (df[tag][idx]=='_' or df[tag][idx]==None):
            continue
        else:
            # if (df["token"][idx]==None or df["token"][idx].isDecimal()==True or p.match(df["token"][idx])):
            #     idx += 1
            #     continue

            token = df["token"][idx]
            if df[tag][idx][0] == '*':
                df[tag][idx] = df[tag][idx].replace('*', tag)
            detail_tag = df[tag][idx]

            token_pairs_list.append((text_num, token, detail_tag))
            is_token_tagless = False
    # end for loop

    if is_token_tagless==True and df["token"][idx]!=None:
        token_pairs_list.append((text_num, df["token"][idx], "O")) # Making O-tag
    idx += 1

    # end while loop
    
print("Done!")

0 / 455320
25000 / 455320
50000 / 455320
75000 / 455320
100000 / 455320
125000 / 455320
150000 / 455320
175000 / 455320
200000 / 455320
225000 / 455320
250000 / 455320
275000 / 455320
300000 / 455320
325000 / 455320
350000 / 455320
375000 / 455320
400000 / 455320
425000 / 455320
450000 / 455320
Done!

In [57]:
token_pairs_list[-120:-100]

[('4997', 'complained', 'O'),
 ('4997', 'of', 'O'),
 ('4997', 'pain', 'O'),
 ('4997', 'in', 'O'),
 ('4997', 'the', 'O'),
 ('4997', 'right', 'O'),
 ('4997', 'ankle', 'O'),
 ('4997', 'after', 'O'),
 ('4997', 'falling', 'O'),
 ('4997', 'while', 'O'),
 ('4997', 'trying', 'O'),
 ('4997', 'to', 'O'),
 ('4997', 'lift', 'O'),
 ('4997', 'the', 'O'),
 ('4997', 'plate', 'O'),
 ('4997', 'with', 'O'),
 ('4997', 'crutches', 'O'),
 ('4997', 'after', 'O'),
 ('4997', 'eating', 'O'),
 ('4997', '.', 'O')]

In [58]:
BIO_table = []

temp_tag_list = []
for idx, (text_num, token, tag) in enumerate(token_pairs_list):
    if tag == "O": # except O-tag
        pass
    elif tag[-1] != ']': # Making B-tag
        tag = "B-" + tag
    else: # Making sequential tag
        real_tag = tag.split('[')[0]
        if tag in temp_tag_list: # Making I-tag
            tag = "I-" + real_tag
        else: # Making B-tag
            temp_tag_list.append(tag)
            tag = "B-" + real_tag
    
    BIO_table.append([f"{text_num} - {TXT_FILE_NAME[:-4]}", token, tag])

In [59]:
BIO_df = pd.DataFrame(BIO_table, columns=["Sentence #", "token", "tag"])
BIO_df["token"] = [tok.lower() for tok in BIO_df["token"]]
BIO_df.to_csv(f"BIO-tagged/BIO-{TXT_FILE_NAME[:-4]}-{USER_TYPE}.csv", index=False)

In [60]:
BIO_df

                      Sentence #      token tag
0          1 - KOPS_8564_1(5000)          "   O
1          1 - KOPS_8564_1(5000)  2016.10.2   O
2          1 - KOPS_8564_1(5000)          .   O
3          1 - KOPS_8564_1(5000)         at   O
4          1 - KOPS_8564_1(5000)     around   O
...                          ...        ...  ..
450328  4999 - KOPS_8564_1(5000)          ,   O
450329  4999 - KOPS_8564_1(5000)      x-ray   O
450330  4999 - KOPS_8564_1(5000)      check   O
450331  4999 - KOPS_8564_1(5000)          .   O
450332  4999 - KOPS_8564_1(5000)          "   O

[450333 rows x 3 columns]

In [61]:
BIO_df.describe()

                      Sentence #   token     tag
count                     450333  450333  450333
unique                      4999    8308     133
top     1388 - KOPS_8564_1(5000)     the       O
freq                         517   35059  427316